<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tabtitle %}{% endblock %} | Manufacturing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:lightgrey">


    <div style="margin: 10px; background-color: white;">
        <h1>MANUFACTURING</h1>
    </div>
    

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 10px; background-color: white;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            {% if session %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">(Log Out)</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>

                
            {% endif %}

            <li class="nav-item">
              <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>


<!-- 
            {% if userAuthData.isAdmin %}
            <li class="nav-item">
                <a class="nav-link" href="/forms/food/add">Add Item</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/forms/food/edit/1">Edit Item</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/forms/food/delete">Delete Item</a>
            </li> 

            <li class="nav-item">
                <a class="nav-link" href="/forms/user/add">Add User</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/forms/userAuth/update">Update users</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/forms/user/add">Register</a>
            </li>


            {% endif %} -->

          </ul>
        </div>
    </nav>


    <div style="margin: 10px; background-color: white;">
        <h5>{% block title %}{% endblock %}</h5>
    </div>

    <div style="margin: 10px; background-color: white;">
        {% block main %}
        {% endblock %}
    </div>


    {% block jsscripts %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>