{% extends "index.html" %}

{% block title %} Edit User Authorisation data {% endblock %}

{% block main %}

<form method="POST" action="/api/userAuth/update">

  <table class="table">
    <thead>
      <tr>
          <th scope="id">ID</th>
          <th scope="uuid">UUID</th>
          <th scope="name">Name</th>
          <th scope="email">Email</th>
          <th scope="password">New Password</th>
          <th scope="password">Admin</th>
      </tr>
    </thead>
    <tbody id="usertableUpdate">

<!-- 
          {% for item in allUserAuthData %}
        <tr>
          <th scope="row">    
              <input type="text" id="{{item[0]}}.id" name="{{item[0]}}.id" value = "{{item[0]}}"  readonly required>
          </th>
          <td>
              <input type="text" id="{{item[0]}}.uuid" name="{{item[0]}}.uuid" value = "{{item[1]}}" required>     
          </td>
          <td>
            <input type="text" id="{{item[0]}}.name" name="{{item[0]}}.name" value = "{{item[2]}}" required>  
          </td>
          <td>
            <input type="text" id="{{item[0]}}.email" name="{{item[0]}}.email" value = "{{item[3]}}" required> 
          </td>
          <td>
            <input type="password" id="{{item[0]}}.password" name="{{item[0]}}.password" value = "" > 
          </td>
          <td>
            <input type="text" id="{{item[0]}}.isadmin" name="{{item[0]}}.isadmin" value = "{{item[4]}}" required> 
          </td>
          <td>

          </td>
        </tr>

        {% endfor %} -->

      <button type="submit">Submit Updates</button>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" id="loadingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


</form>

<h1> Add user</h1>

<form method="POST" action="/api/user/add">
  <table class="table">
    <thead>
      <tr>
        <th scope="name">Name</th>
        <th scope="email">Email</th>
        <th scope="isAdmin">Password</th>
        <th scope="password">Password Verify</th>
        <th scope="password">Admin</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">    
            <input type="text" id="input.user.name" name="name" required>       
        </th>
        <td>
            <input type="text" id="input.user.email" name="email" required>    
        </td>
        <td>
          <input type="text" id="input.user.password" name="password" required> 
        </td>
        <td>
          <input type="text" id="input.user.password-verify" name="password-verify" required> 
        </td>
        <td>
          <input type="checkbox" name="input.user.isAdmin" value="True">
        </td>
      </tr>


      <button type="submit">Add user</button>
    </tbody>
  </table>
</form>


<h1> Delete User </h1>

<form method="POST" action="/api/user/delete">

  <table class="table">
    <thead>
      <tr>
        <th scope="id">ID</th>
        <th scope="uuid">UUID</th>
        <th scope="name">Name</th>
        <th scope="email">Email</th>
        <th scope="password">Admin</th>
        <th scope="delete">Select</th>
      </tr>
    </thead>
    <tbody id="usertableDel">

<!-- 
      {% for item in allUserAuthData %}
        <tr>
          <th scope="row">    
              {{item[0]}}       
          </th>
          <td>
              {{item[1]}}   
          </td>
          <td>
              {{item[2]}} 
          </td>
          <td>
              {{item[3]}}
          </td>
          <td>
              {{item[4]}}
          </td>
          <td>
              <input type="checkbox" name="input.{{item[0]}}.delete" value="True">

          </td>
        </tr>
      {% endfor %} -->
      <button type="submit">Delete Selection</button>
    </tbody>
  </table>
  <div class="d-flex justify-content-center" id="loadingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</form>


{% endblock %}


{% block jsscripts %}
<script>

  function createInputDisabledInRow(row, valueInput = "", name){
    const inputElement = document.createElement("input")
    inputElement.setAttribute('class', 'form-control');
    inputElement.setAttribute('type', 'text');
    inputElement.setAttribute('aria-label', 'Disabled input example');
    inputElement.setAttribute('readonly', '');
    inputElement.name = name
    cell = row.insertCell();
    cell.appendChild(inputElement)
    inputElement.value = valueInput
    return inputElement
  }

  function createInputElementInRow(row, valueInput = "", name) {
    const inputElement = document.createElement('input');
    inputElement.setAttribute('class', 'form-control');
    inputElement.setAttribute('type', 'text');
    inputElement.setAttribute('aria-label', 'Default input example');
    inputElement.name = name
    cell = row.insertCell();
    cell.appendChild(inputElement)
    inputElement.value = valueInput
  return inputElement;
}

  fetch('/api/userAuth/allusers')
    .then(response => response.json())
    .then(data => {
      const userlist = data.map(data => JSON.parse(data))

      console.log(userlist)
      let usertable = document.getElementById("usertableUpdate");
      let deletetable = document.getElementById("usertableDel");
      usertable.textContent="";
      deletetable.textContent="";

      [...document.getElementsByClassName("spinner-border")].forEach(element => {
        element.remove()
      });

      for (let i = 0; i < userlist.length; i++) {
          let row = usertable.insertRow();
          let delRow = deletetable.insertRow();

          let inputId = createInputDisabledInRow(row,userlist[i].id, userlist[i].id + ".id")
          let inputUUID = createInputElementInRow(row,userlist[i].uuid, userlist[i].id + ".uuid")     
          let inputName = createInputElementInRow(row,userlist[i].name, userlist[i].id + ".name")    
          let inputEmail = createInputElementInRow(row,userlist[i].name, userlist[i].id+ ".email")    
          let inputNewPassword = createInputElementInRow(row,"", userlist[i].id + ".password")    

           let inputAdmin = document.createElement("input")
           cell.appendChild(inputAdmin);
           inputAdmin.name = userlist[i].id + ".isadmin"
           inputAdmin.type = "checkbox"
           inputAdmin.value = true
          

          createInputDisabledInRow(delRow,userlist[i].id, userlist[i].id + ".id")
          createInputElementInRow(delRow,userlist[i].uuid, userlist[i].id + ".uuid")   
          createInputElementInRow(delRow,userlist[i].name, userlist[i].id + ".name") 
          createInputElementInRow(delRow,userlist[i].name, userlist[i].id+ ".email") 

          inputAdminDel = document.createElement("input")
          inputAdminDel.name = userlist[i].id + ".isadmin"
          inputAdmin.type = "checkbox"
          inputAdmin.checked = userlist[i].isAdmin
          cell = row.insertCell();
          cell.appendChild(inputAdmin);
               
         

          // let cell2 = row.insertCell();
          // cell2.textContent = workorders[i].itemnumber;

          // let cell3 = row.insertCell();
          // cell3.textContent = workorders[i].itemdescription;

          // let cell4 = row.insertCell();
          // cell4.textContent = workorders[i].quantity;

          // let cell5 = row.insertCell();
          // cell5.textContent = workorders[i].project;
          
          // let cell6 = row.insertCell();
          // cell6.textContent = workorders[i].duedate;
        }
      }
    )
    .catch(error => console.error(error));
</script>

{% endblock %}