{% extends "index.html" %}

{% block title %} Edit User Authorisation data {% endblock %}

{% block main %}

<form method="POST" action="/api/userAuth/update">

    <table class="table">
        <thead>
          <tr>
            <th scope="id">ID</th>
            <th scope="uuid">UUID</th>
            <th scope="name">Name</th>
            <th scope="email">Email</th>
            <th scope="password">New Password</th>
            <th scope="password">Admin</th>
          </tr>
        </thead>
        <tbody>

            {% for item in allUserAuthData %}
          <tr>
            <th scope="row">    
                <input type="text" id="{{item[0]}}.id" name="{{item[0]}}.id" value = "{{item[0]}}"  readonly required>
            </th>
            <td>
                <input type="text" id="{{item[0]}}.uuid" name="{{item[0]}}.uuid" value = "{{item[1]}}" required>     
            </td>
            <td>
              <input type="text" id="{{item[0]}}.name" name="{{item[0]}}.name" value = "{{item[2]}}" required>  
            </td>
            <td>
              <input type="text" id="{{item[0]}}.email" name="{{item[0]}}.email" value = "{{item[3]}}" required> 
            </td>
            <td>
              <input type="password" id="{{item[0]}}.password" name="{{item[0]}}.password" value = "" > 
            </td>
            <td>
              <input type="text" id="{{item[0]}}.isadmin" name="{{item[0]}}.isadmin" value = "{{item[4]}}" required> 
            </td>
            <td>

            </td>
          </tr>

          {% endfor %}

          <button type="submit">Submit Updates</button>
        </tbody>
      </table>


</form>

<h1> Add user</h1>

<form method="POST" action="/api/user/add">
  <table class="table">
    <thead>
      <tr>
        <th scope="name">Name</th>
        <th scope="email">Email</th>
        <th scope="isAdmin">Password</th>
        <th scope="password">Password Verify</th>
        <th scope="password">Admin</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row">    
            <input type="text" id="input.user.name" name="name" required>       
        </th>
        <td>
            <input type="text" id="input.user.email" name="email" required>    
        </td>
        <td>
          <input type="text" id="input.user.password" name="password" required> 
        </td>
        <td>
          <input type="text" id="input.user.password-verify" name="password-verify" required> 
        </td>
        <td>
          <input type="checkbox" name="input.user.isAdmin" value="True">
        </td>
      </tr>


      <button type="submit">Add user</button>
    </tbody>
  </table>
</form>


<h1> Delete User </h1>

<form method="POST" action="/api/user/delete">

  <table class="table">
    <thead>
      <tr>
        <th scope="id">ID</th>
        <th scope="uuid">UUID</th>
        <th scope="name">Name</th>
        <th scope="email">Email</th>
        <th scope="password">Admin</th>
        <th scope="delete">Select</th>
      </tr>
    </thead>
    <tbody>

      {% for item in allUserAuthData %}
        <tr>
          <th scope="row">    
              {{item[0]}}       
          </th>
          <td>
              {{item[1]}}   
          </td>
          <td>
              {{item[2]}} 
          </td>
          <td>
              {{item[3]}}
          </td>
          <td>
              {{item[4]}}
          </td>
          <td>
              <input type="checkbox" name="input.{{item[0]}}.delete" value="True">

          </td>
        </tr>
      {% endfor %}
      <button type="submit">Delete Selection</button>
    </tbody>
  </table>
</form>


{% endblock %}