{% extends "index.html" %}

{% block title %} 

<a href="/"> Work Orders</a> 
 / 
<a href="/workorder/{{ idnumber }}"> {{ idnumber }} </a>

{% endblock %}
{% block tabletitle %} {{ idnumber }} {% endblock %}

{% block main %}

<!-- <button onclick="window.location.href='/forms/workorder/add'">Create New Order</button> -->
  <form method="POST" action="/api/workorder/process">

    <button type="submit" name="wo" value="delete">Delete Selected</button>
    <button type="submit" name="wo" value="update">Update Work Orders</button>

    <table class="table" id = "workorder.{{ idnumber }}.table" >
      <thead>
        <tr>
          <th scope="select">Select</th>
          <th scope="workOrderNumber">Name</th>
          <th scope="itemNumber">Item Number</th>
          <th scope="Itemdescription">Item Description</th>
          <th scope="quantity">Quantity</th>
          <th scope="project">Project</th>
          <th scope="duedate">Due Date</th>
        </tr>
      </thead>
      <tbody id="tableWorkOrder.{{ idnumber }}.Body">

      </tbody>
    </table>
  </form>

  <div class="d-flex justify-content-center" id="loadingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <div class="mb-3">
    <label for="formFile" class="form-label">Upload Work Order Pick Slip</label>
    <input class="form-control" type="file" id="formFile">
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Upload Work Order Traveler</label>
    <input class="form-control" type="file" id="formFile">
  </div>



{% endblock %}

{% block jsscripts %}
<script>

  fetch('/api/workorder/{{ idnumber }}')
    .then(response => response.json())
    .then(data => {
      console.log(data);
      console.log(data.length);
      const workorder = data.map(data => JSON.parse(data));

      [...document.getElementsByClassName("spinner-border")].forEach(element => {
        element.remove()
      });

      let woTable = document.getElementById("tableWorkOrder.{{idnumber}}.Body");
      
      for (let i = 0; i < data.length; i++) {
          let row = woTable.insertRow();
          console.log(data[i])

          let cell0 = row.insertCell();
          let tickbox = document.createElement("input")
          tickbox.type = "checkbox" 
          tickbox.name = workorder[i].wonumber + ".selected";
          cell0.appendChild(tickbox)

          let cell1 = row.insertCell();
          let woLink = document.createElement("a")
          woLink.href = `/workorder/${workorder[i].wonumber}`
          woLink.textContent = workorder[i].wonumber
          cell1.appendChild(woLink)

          let cell2 = row.insertCell();
          cell2.textContent = workorder[i].itemnumber;

          let cell3 = row.insertCell();
          cell3.textContent = workorder[i].itemdescription;

          let cell4 = row.insertCell();
          cell4.textContent = workorder[i].quantity;

          let cell5 = row.insertCell();
          cell5.textContent = workorder[i].project;
          
          let cell6 = row.insertCell();
          cell6.textContent = workorder[i].duedate;
        }
      }
    )
    .catch(error => console.error(error));
</script>

{% endblock %}