{% extends "index.html" %}



{% block title %} 

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/workorders">Work Orders</a></li>
    <li class="breadcrumb-item active" aria-current="page">#{{ idnumber }}</li>
  </ol>
</nav>

{% endblock %}

{% block tabtitle %} {{ idnumber }} {% endblock %}

{% block main %}

<!-- <button onclick="window.location.href='/forms/workorder/add'">Create New Order</button> -->

<form method="POST" action="/workorder/{{ idnumber }}/edit">

  <div style="margin: 10px ; border-radius:10px; padding: 10px; background-color: white;">
    <h2>View - Work order {{ idnumber }}</h2>
    
  </div>
  

    <div style="margin: 10px ; border-radius:10px; padding: 10px; background-color: white;">

      <button type="submit" name="{{ idnumber }}" value="delete">Delete Work Order #{{ idnumber }} </button>
      <button type="submit" name="{{ idnumber }}" value="update">Edit Work order</button>

    </div>
    
    <div style="margin: 10px; border-radius:10px; padding: 10px; background-color: white;">

      <table class="table" id = "workorder.{{ idnumber }}.table">
        <thead style="margin:10px; border-radius:10px; padding: 10px; background-color: rgb(235, 233, 233); " >
          <tr>
            <th scope="workOrderNumber">Name</th>
            <th scope="itemNumber">Item Number</th>
            <th scope="Itemdescription">Item Description</th>
            <th scope="quantity">Quantity</th>
            <th scope="project">Project</th>
            <th scope="duedate">Due Date</th>
          </tr>
        </thead>
        <tbody id="tableWorkOrder.{{ idnumber }}.Body">
  
        </tbody>
      </table>

    </div>
      
    <div class="d-flex justify-content-center" id="loadingSpinner">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>



    <div style="margin:10px; border-radius:10px; padding: 10px; background-color: white;" >
      <h5> Work Order status</h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
      <div id = "woStatusSwitches">


        <div class="form-check form-check-inline" disabled>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxFirmed" value="option1" disabled>
          <label class="form-check-label" for="inlineCheckbox1">Order Firmed</label>
        </div>
    
        <div class="form-check form-check-inline" readonly>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxDisassembled" value="option2" disabled>
          <label class="form-check-label" for="inlineCheckbox2">Disassembled</label>
        </div>
    
        <div class="form-check form-check-inline" readonly>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxReceived" value="option1" disabled>
          <label class="form-check-label" for="inlineCheckbox1">Order Received</label>
        </div>
    
        <div class="form-check form-check-inline" readonly>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxReassembled" value="option1" disabled>
          <label class="form-check-label" for="inlineCheckbox1">Order Reassembled</label>
        </div>
    
        <div class="form-check form-check-inline" readonly>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxRework" value="option1" disabled>
          <label class="form-check-label" for="inlineCheckbox1">Order Rework</label>
        </div>
    
        <div class="form-check form-check-inline" readonly>
          <input class="form-check-input" type="checkbox" id="inlineCheckboxClosed" value="option1" disabled>
          <label class="form-check-label" for="inlineCheckbox1">Order Closed</label>
        </div>
       
        </div>

    </div>  
  
    
    <div id="files">
      <h2>Related Files</h2>

      <div>
        Work order:
        <div id="woPickslipContainer">

        </div>
      </div>
      <div>
        Traveller:
        <div id="woTravellerContainer">
          
        </div>
      </div>
  
      </p>

    </div>

    
    <div style="margin: 0px; padding: 5px; background-color: lightgrey;" ></div>

    <div>
      <h2>History</h2>

      <div>
         <div id="historyContainer">
  
            <table class="table" id = "workorder.{{ idnumber }}.table.history" style="margin: 10px; background-color: white;">
              <thead>
                <tr>
                  <th scope="Time">Time</th>
                  <th scope="signature">User</th>
                  <th scope="Itemdescription">Message</th>
                </tr>
              </thead>
              <tbody id="tableHistory">
        
              </tbody>
            </table>
  
          </div>
  
      </div>

    </div>
    
    <div style="margin: 0px; padding: 5px; background-color: lightgrey;" ></div>
    






  <div class="mb-3" style="margin: 10px; background-color: white;">
    <!-- api link -->
   
  </div>
  <div class="mb-3" style="margin: 10px; background-color: white";>
    <!-- api link -->
  </div>
  
</form>

{% endblock %}

{% block jsscripts %}
<script>

function createDownloadLink(fileData, filename) {
  const bytes = atob(fileData);
  const arr = new Uint8Array(bytes.length);
  for (let i = 0; i < bytes.length; i++) {
    arr[i] = bytes.charCodeAt(i);
  }
  const blob = new Blob([arr], {type: 'application/pdf'});
  const url = URL.createObjectURL(blob);
  const link = document.createElement('a');
  link.href = url;
  link.download = filename;
  return link;
}


  fetch('/api/workorder/{{ idnumber }}')
    .then(response => response.json())
    .then(data => {
      console.log(data);
      console.log(data);
      [...document.getElementsByClassName("spinner-border")].forEach(element => {
        element.remove()
      });

      let woTable = document.getElementById("tableWorkOrder.{{idnumber}}.Body");
      
       for (let i = 0; i < data.header.length; i++) {
          let row = woTable.insertRow();
          // let cell0 = row.insertCell();
          // let tickbox = document.createElement("input")
          // tickbox.type = "checkbox" 
          // tickbox.name = workorder[i].wonumber + ".selected";
          // cell0.appendChild(tickbox)

          let cell1 = row.insertCell();
          let woLink = document.createElement("a")
          woLink.href = `/workorder/${data.header[i].wonumber}`
          woLink.textContent = data.header[i].wonumber
          cell1.appendChild(woLink)

          let cell2 = row.insertCell();
          cell2.textContent = data.header[i].itemnumber;

          let cell3 = row.insertCell();
          cell3.textContent = data.header[i].itemdescription;

          let cell4 = row.insertCell();
          cell4.textContent = data.header[i].quantity;

          let cell5 = row.insertCell();
          cell5.textContent = data.header[i].project;
          
          let cell6 = row.insertCell();
          cell6.textContent = data.header[i].duedate;

          let firmedBox = document.getElementById("inlineCheckboxFirmed")
          if (data.detail[i].firmed){
            firmedBox.setAttribute("checked","")
          }

          let disassembledBox = document.getElementById("inlineCheckboxDisassembled")
          if (data.detail[i].disassembled){
            disassembledBox.setAttribute("checked","")
          }

          let receivedBox = document.getElementById("inlineCheckboxReceived")
          if (data.detail[i].received){
            receivedBox.setAttribute("checked","")
          }

          let reassembledBox = document.getElementById("inlineCheckboxReassembled")
          if (data.detail[i].firmed){
            reassembledBox.setAttribute("checked","")
          }

          let reworkBox = document.getElementById("inlineCheckboxRework")
          if (data.detail[i].rework){
            reworkBox.setAttribute("checked","")
          }

          let closedBox = document.getElementById("inlineCheckboxClosed")
          if (data.detail[i].closed){
            closedBox.setAttribute("checked","")
          }
          

          historyContainer = document.getElementById("tableHistory")
          

          for (item in data.history){
  
            let row1 = historyContainer.insertRow();

            let cellTime = row1.insertCell();
            let cellTimeText = document.createElement("p")
            cellTimeText.textContent = data.history[item].time
            cellTime.appendChild(cellTimeText)

            let cellSig = row1.insertCell();
            let cellSigText = document.createElement("p")
            cellSigText.textContent = data.history[item].signature
            cellSig.appendChild(cellSigText)

            let cellMsg = row1.insertCell();
            let cellMsgText = document.createElement("p")
            cellMsgText.textContent = data.history[item].message
            cellMsg.appendChild(cellMsgText)
            
            
            // File data

          }
          let travellerContainer = document.getElementById('woTravellerContainer')
          if (!data.files[0].wotraveller){
            travellerContainer.textContent = "No traveller attached"
          } else  {
            let traveller = createDownloadLink(data.files[0].wotraveller.data, data.files[0].wotraveller.filename )
            travellerContainer.appendChild(traveller)
            traveller.textContent = data.files[0].wotraveller.filename
          }

          let pickslipContainer = document.getElementById('woPickslipContainer')
          if (!data.files[0].wopickslip){
            pickslipContainer.textContent = "No Pick slip attached"
          } else {
            let pickslip = createDownloadLink(data.files[0].wopickslip.data,data.files[0].wopickslip.filename )
            pickslipContainer.appendChild(pickslip)
            pickslip.textContent = data.files[0].wopickslip.filename
          }



          


        
            
          


          


          


          
    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxFirmed" value="option1">
    //   <label class="form-check-label" for="inlineCheckbox1">Order Firmed</label>
    // </div>

    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxDisassembled" value="option2">
    //   <label class="form-check-label" for="inlineCheckbox2">Disassembled</label>
    // </div>

    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxReceived" value="option1">
    //   <label class="form-check-label" for="inlineCheckbox1">Order Received</label>
    // </div>

    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxReassembled" value="option1">
    //   <label class="form-check-label" for="inlineCheckbox1">Order Reassembled</label>
    // </div>

    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxRework" value="option1">
    //   <label class="form-check-label" for="inlineCheckbox1">Order Rework</label>
    // </div>

    // <div class="form-check form-check-inline">
    //   <input class="form-check-input" type="checkbox" id="inlineCheckboxClosed" value="option1">
    //   <label class="form-check-label" for="inlineCheckbox1">Order Closed</label>
    // </div>


          

        }
      }
    )
    .catch(error => console.error(error));


//  get link to file objects


</script>

{% endblock %}