{% extends "index.html" %}

{% block title %} Work Orders {% endblock %}

{% block main %}

<form method="POST" action="/api/workorders/create">
  <button type="submit" value="add">Create New Order</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="workOrderNumber">Name</th>
      <th scope="itemNumber">Item Number</th>
      <th scope="Itemdescription">Item Description</th>
      <th scope="quantity">Quantity</th>
      <th scope="project">Project</th>
      <th scope="duedate">Due Date</th>
    </tr>
  </thead>
  <tbody>
    {% for order in allWorkOrders %}

    <tr>
      <th scope="row">   
          <a href="/api/workorders/{{order.wonumber}}">{{order.wonumber}}</a>
          
      </th>

      <td>
        {{order.itemnumber}}
      </td>

      <td>
        {{order.itemdescription}}
    
      </td>
      <td>
        {{order.quantity}}
      
      </td>
      <td>
        {{order.project}}

      </td>
      <td>
        {{order.duedate}}

      </td>
      <td>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>





{% endblock %}