{% extends "index.html" %}

{% block title %} 

<a href="/"> Home</a> 
 / 
<a href="/workorders"> Work Orders</a> 
 / 
<a href="/workorder/{{ idnumber }}"> {{ idnumber }} </a>
 / 
<a href="/workorder/{{ idnumber }}/edit"> Edit </a>

{% endblock %}
{% block tabletitle %} {{ idnumber }} {% endblock %}

{% block main %}

<!-- <button onclick="window.location.href='/forms/workorder/add'">Create New Order</button> -->
<form method="POST" action="/api/workorder/{{idnumber}}/process">

  <div style="margin: 10px; background-color: white;">
    <button type="submit" name="wo" value="delete">Delete Work Order {{ idnumber }} </button>
    <button type="submit" name="wo" value="update">Submit Changes</button>
  </div>
    

  <div style="margin: 10px; background-color: white;">

    <table class="table" id = "workorder.{{ idnumber }}.table" style="margin: 10px; background-color: white;">
      <thead>
        <tr>
          <th scope="workOrderNumber">Name</th>
          <th scope="itemNumber">Item Number</th>
          <th scope="Itemdescription">Item Description</th>
          <th scope="quantity">Quantity</th>
          <th scope="project">Project</th>
          <th scope="duedate">Due Date</th>
        </tr>
      </thead>
      <tbody id="tableWorkOrder.{{ idnumber }}.Body">

      </tbody>
    </table>

  </div>
   
  <div class="d-flex justify-content-center" id="loadingSpinner">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>



  <h2> Work Order status</h2>

  <div id = "woStatusSwitches">
    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxFirmed" value=True name="firmed">
      <label class="form-check-label" for="inlineCheckboxFirmed">Order Firmed</label>
    </div>

    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxDisassembled" value=True name="disassembled" >
      <label class="form-check-label" for="inlineCheckboxDisassembled">Disassembled</label>
    </div>

    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxReceived" value=True name="received">
      <label class="form-check-label" for="inlineCheckboxReceived">Order Received</label>
    </div>

    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxReassembled" value=True name="reassembled" >
      <label class="form-check-label" for="inlineCheckboxReassembled">Order Reassembled</label>
    </div>

    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxRework" value=True name="rework">
      <label class="form-check-label" for="inlineCheckboxRework">Order Rework</label>
    </div>

    <div class="form-check form-check-inline" >
      <input class="form-check-input" type="checkbox" id="inlineCheckboxClosed" value=True name="closed">
      <label class="form-check-label" for="inlineCheckboxClosed">Order Closed</label>
    </div>
  </div>
  
</form>

<div id="upload container">
  <form id="uploadFileForm" action="/api/workorder/{{idnumber}}/process/file" method="POST" enctype="multipart/form-data">
    <div class="mb-3" style="margin: 10px; background-color: white;">
      <label for="uploadWoPickSlip" class="form-label">Upload Work Order Pick Slip</label>
      <input class="form-control" type="file" id="uploadWoPickSlip" name="uploadWoPickSlip">
    </div>
    <div class="mb-3" style="margin: 10px; background-color: white";>
      <label for="uploadWoTraveler" class="form-label">Upload Work Order Traveler</label>
      <input class="form-control" type="file" id="uploadWoTraveler" name="uploadWoTraveler">
    </div>
    <input type="submit" value="Upload">
  </form>
  <div id="uploadStatus"></div>
</div>


{% endblock %}

{% block jsscripts %}

<script>
  
  function createInputHiddenInRow(row, valueInput = "", name){
      const inputElement = document.createElement("input")
      inputElement.setAttribute('class', 'form-control');
      inputElement.setAttribute('type', 'text');
      inputElement.setAttribute('aria-label', 'Disabled input example');
      inputElement.setAttribute('hidden', '');
      inputElement.name = name
      cell = row.insertCell();
      cell.appendChild(inputElement)
      inputElement.value = valueInput
      return inputElement
  }

  function createInputElementInRow(row, valueInput = "", name) {
    const inputElement = document.createElement('input');
    inputElement.setAttribute('class', 'form-control');
    inputElement.setAttribute('type', 'text');
    inputElement.setAttribute('aria-label', 'Default input example');
    inputElement.name = name
    cell = row.insertCell();
    cell.appendChild(inputElement)
    inputElement.value = valueInput
    return inputElement;
  }


  fetch('/api/workorder/{{ idnumber }}')
    .then(response => response.json())
    .then(workorder => {
      console.log(workorder);

      [...document.getElementsByClassName("spinner-border")].forEach(element => {
        element.remove()
      });

      let woTable = document.getElementById("tableWorkOrder.{{idnumber}}.Body");
      
      for (let i = 0; i < workorder.header.length; i++) {
          let row = woTable.insertRow();

          // let cell0 = row.insertCell();
          // let tickbox = document.createElement("input")
          // tickbox.type = "checkbox" 
          // tickbox.name = workorder[i].wonumber + ".selected";
          // cell0.appendChild(tickbox)
          
          let wonumber = createInputElementInRow(row, workorder.header[i].wonumber, "wonumber")
          wonumber.setAttribute("readonly", "")
          let itemnumber = createInputElementInRow(row, workorder.header[i].itemnumber, "itemnumber")
          let itemdescription = createInputElementInRow(row, workorder.header[i].itemdescription, "itemdescription")
          let quantity = createInputElementInRow(row, workorder.header[i].quantity, "quantity")
          let project = createInputElementInRow(row, workorder.header[i].project, "project")
          let duedate = createInputElementInRow(row, workorder.header[i].duedate, "duedate")
          let woid = createInputHiddenInRow(row, workorder.header[i].id, "id")

          let firmedBox = document.getElementById("inlineCheckboxFirmed")
          if (workorder.detail[i].firmed){
            firmedBox.setAttribute("checked","")
          }

          let disassembledBox = document.getElementById("inlineCheckboxDisassembled")
          if (workorder.detail[i].disassembled){
            disassembledBox.setAttribute("checked","")
          }

          let receivedBox = document.getElementById("inlineCheckboxReceived")
          if (workorder.detail[i].received){
            receivedBox.setAttribute("checked","")
          }

          let reassembledBox = document.getElementById("inlineCheckboxReassembled")
          if (workorder.detail[i].firmed){
            reassembledBox.setAttribute("checked","")
          }

          let reworkBox = document.getElementById("inlineCheckboxRework")
          if (workorder.detail[i].rework){
            reworkBox.setAttribute("checked","")
          }

          let closedBox = document.getElementById("inlineCheckboxClosed")
          if (workorder.detail[i].closed){
            closedBox.setAttribute("checked","")
          }



        }
        
            


      }
    )
  .catch(error => console.error(error));

// Button uploading function

const fileForm = document.getElementById('uploadFileForm');
const outputStatus = document.getElementById('uploadStatus');

fileForm.addEventListener('submit', (event) => {
  event.preventDefault();
  const formData = new FormData(fileForm);

  fetch('/api/workorder/{{idnumber}}/process/file', {
    method: 'POST',
    body: formData
  })
  .then(response => response.text())
  .then(text => {
    outputStatus.textContent = text;
  })
  .catch(error => {
    outputStatus.textContent = 'Error uploading file.';
  });
});




</script>

{% endblock %}